---
---

@import "{{ site.theme }}";
pre.highlight { background-color:#fff; }
#main-content table { background-color:#fff; }
#main-content th { font-weight:bold; }
#main-content table tr:nth-child(2n+1) { background-color:rgb(246, 248, 250); }
